.buttons {
    margin-top: 5em;
    margin-left: 70%;
    display: flex;
    justify-content: flex-end;
    padding: 0px 0px 20px 0px;
    margin: 60px 0px 0px 100px
}

.btn-Access {
    background: #A5DEF9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: 'blue';
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
}

.sendOk {
    background: #64629C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    width: 100px;
    height: 50px;
}

.sendNew {
    background: #64629C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px !important;
    color: #FFFFFF;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    width: 100px;
    height: 50px;
    margin-bottom: 20px;
}

.filterButton {
    background: #A5DEF9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px !important;
    color: #000000;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    width: 100px;
    height: 55px;
    margin-bottom: 20px;
    margin-right: 4px;
}

.filterButton:hover{
    background-color:#4692d8;
}

.filterButton:focus{
    background-color:#4692d8;
}

.sendNew:hover {
    background-color: #9694c0;
}

.sendNew:focus{
    background-color: #9694c0;
}

.sendEdit {
    background: #2284B6;
    box-shadow: 0px 4px 4px rgba(89, 156, 211, 0.25);
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    width: 60px;
    height: 35px;
}

.sendDelete {
    background: #C84646;
    box-shadow: 0px 4px 4px rgba(218, 38, 38, 0.25);
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    width: 60px;
    height: 35px;
}

.sendAdd {
    background: #2284B6;
    box-shadow: 0px 4px 4px rgba(67, 187, 243, 0.25);
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    width: 60px;
    height: 35px;
}

.sendNotOk {
    background: #aaaaaa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: #000000;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    width: 100px;
    height: 50px;
}

.cancel {
    background: #aaaaaa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: #000000;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    margin-left: 1em;
    width: 100px;
    height: 50px;
}
