.logo {
    padding-top: 6%;
    height: 35em;
    width: 55em ;
    top: 20em;
    padding-left: 5em;
    transform: translate(10em 10em);
}

.root {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-color:white; 
    font-family: "Abel", sans-serif;
    width: 100%;
}