.logo {
    height: 30em;
    top: 20em;
    transform: translate(10em 10em);
}

.root {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-color:white; 
    font-family: "Abel", sans-serif;
    height: 100vh;
    width: 100%;
}