h4 {
    margin-right: 25px;
}

#btn_iceCream {
    margin-right: 15px;
    border-radius: 20px;
}

#btn_coffe {
    margin-right: 15px;
    border-radius: 20px;
}

#btn_all {
    margin-right: 15px;
    border-radius: 20px;
}

.btn_modal_ok {
    margin-right: 15px;
    border-radius: 20px;
    background-color: #A5DEF9
}

.btn_modal_not_ok {
    margin-right: 15px;
    border-radius: 20px;
    background-color: #ff8b8b
}

.btn_products {
    width: 140px; 
    height: 125px;
    border-radius: 15px;
    background-color: #F68634;
    color: #ffffff;
    font-weight: bold;
}

