h4 {
    margin-right: 25px;
}

button {
    text-align: center;
    width: 100px;
    height: 30px;
}  

#btn_heladeria {
    margin-right: 15px;
}

#btn_cafeteria {
    margin-right: 15px;
}

#btn_todos {
    margin-right: 15px;
}

