@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    font-family: 'Abel', sans-serif !important;
}

h2 {
    font-family: 'Abel', sans-serif;
}

h4 {
    font-family: 'Abel', sans-serif;
}

.d-flex {
    display: flex;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}

.d-flex-sp-bt {
    display: flex;
    justify-content: space-between;
}