@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

label, input, textarea {
    font-size: 1.2rem !important;
    font-family: 'Abel', sans-serif;
}

h1 {
    font-family: 'Abel', sans-serif;
}