  .form-radio {
    margin-right: 5em;
  }

  .form-combo {
    width: 100%;
    margin: 0 1em 0 0;
  }

  .form-control {
    font-family: 'Abel', sans-serif !important;
    font-size: 1.2rem !important;
  }