.formRow {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
  }
  
  .form-radio-group {
    flex-direction: column;
  }
  
  .form-radio {
    margin-right: 5em;
  }
  
  .form-radio-group {
    padding-left: 1.25em;
  }
  
  .form-control-label {
    overflow: hidden;
  }
  
  .form-combo {
    width: 100%;
    margin: 0 1em 0 0;
  }
  
  .form-add-btn {
    justify-content: center;
  }
  
  .form-control {
    font-family: 'Abel', sans-serif !important;
    font-size: 1.2rem !important; 
  }
  
  .table-control{
    font-family: 'Abel', sans-serif !important;
    font-size: 1.1rem !important;
  }
  
  @media (min-width: 768px) {
    .formRow,
    .form-radio-group {
      flex-direction: row;
    }
    .form-control-label {
      width: 30%;
      overflow: hidden;
      padding-right: 1em;
    }
    .form-control-input,
    .form-combo-btn {
      padding-left: 1em;
      width: 70%;
    }
    .form-control-label,
    .form-radio-group {
      padding-top: 0.375rem;
    }
  }
  