.form-group-input-button {
    display: flex;
    justify-content: space-between;
}

.form-combo {
    width: 100%;
    margin: 0 1em 0 0;
}

.form-add-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 768px) {
    .combo-input-container {
        width: 70%;
        padding-left: 1em;
    }
}