.bg-la-aldeana-violeta {
    background-color: #5258ad !important;
}

.bg-la-aldeana-celeste {
    background-color: rgb(165, 222, 249);
}

.bg-la-aldeana-naranja {
    background-color: #F68634 !important;
}

.bg-grey-jira {
    background-color: rgb(244, 245, 247);
}