.buttons {
    margin-top: 5em;
    margin-left: 70%;
    display: flex;
    justify-content: flex-end;
    padding: 0px 0px 50px 0px;
}

.btn-Access {
    background: #A5DEF9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: 'blue';
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    width: 50%;
}

.btnEdit {
    background: #2284B6 !important;
    color: #FFFFFF !important;
    width: 55px !important;
    height: 35px !important;
    box-shadow: 0px 4px 4px rgba(89, 156, 211, 0.25);
    border-radius: 10px !important;
}

.btnDelete {
    background: #C84646 !important;
    box-shadow: 0px 4px 4px rgba(218, 38, 38, 0.25);
    color: #FFFFFF !important;
    width: 55px !important;
    height: 35px !important;
    border-radius: 10px !important;
}

.btnRead {
    background: #FEF211 !important;
    box-shadow: 0px 4px 4px rgba(218, 38, 38, 0.25);
    width: 55px !important;
    height: 35px !important;
    border-radius: 10px !important;
}

.disabledSendBtn {
    background: #808080;
    box-shadow: 0px 4px 4px rgba(180, 208, 232, 0.25);
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    width: 55px;
    height: 35px;
    border-color: #808080;
}

.btnAdd {
    background: #2284B6 !important;
    box-shadow: 0px 4px 4px rgba(67, 187, 243, 0.25);
    border-radius: 10px !important;
    color: #FFFFFF !important;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    width: 60px;
    height: 35px;
}

.sendOk {
    background: #64629C !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px !important;
    color: #FFFFFF !important;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    width: 110px;
    height: 45px;
}

.sendNotOk {
    background: #aaaaaa !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px !important;
    color: #000000;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    width: 110px;
    height: 45px;
}

.cancelSendNotOk {
    background: #C4C4C4 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px !important;
    color: #000000;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    margin-left: 1em;
    width: 100px;
    height: 45px;
}

.cancel {
    background: #aaaaaa !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px !important;
    color: #000000;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    margin-left: 1em;
    width: 110px;
    height: 45px;
}