:root {
  --radio: 10px;
}

.img-title:hover {
  cursor: pointer;
}

.color-blue {
  color: #383c77;
}

.li-btn-close-session {
  display: block;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: none;
}

.navbar-right ul {
  margin: 0;
}

.nav-dropdown {
  background-color: #dcdeef !important;
  border-color: #dcdeef !important;
  font-size: 1.1rem !important;
  font-weight: bold !important;
  color: #383c77 !important;
}

.nav-dropdown:hover {
  color: black !important;
}

nav {
  padding: 0 1em;
  display: flex;
  min-height: 10vh;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  background-color: #F68634;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #edf0f1;
  transition: all 0.3s ease;
}

.navbar-list {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.navbar-list {
  font-size: 1.1rem;
  text-decoration: none;
  color: #383c77;
  font-weight: bold;
}

.navbar-list li {
  display: inline-block;
  padding: 0 20px;
}

.navbar-list a {
  transition: all 0.3s ease 0s;
}

.navbar-list a:hover {
  color: black;
  font-weight: bold;
}

.navbar-btn {
  font-size: 1.1rem;
  color: #edf0f1;
  padding: 9px 25px;
  background-color: #5258ad;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.navbar-btn:hover {
  color: #F68634;
}

.signed-user {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .nav-dropdown {
    background-color: #f68634 !important;
    border-color: #f68634 !important;
  }
  .navbar-right {
    display: flex;
  }
  .li-btn-close-session {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav {
    justify-content: space-between;
  }
  .burger {
    display: block;
  }
  .navbar-list {
    position: absolute;
    right: 0;
    top: 10vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #dcdeef;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .navbar-list li {
    opacity: 0;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}