.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.viewContainer {
    padding: 1em;
}

@media (min-width: 768px) {
    .viewContainer {
        padding: 3em;
    }
}

@media (min-width: 992px) {
    .viewContainer {
        padding: 1.5em 5em 3em;
    }
}