
h2 {
    font-family: Abel;
    font-style: normal;
    font-weight: normal;

    font-size: 2em;
    margin-left: 1em;
}


.formBody {
    margin-left: 5%;
    width: 90%;
    margin-bottom: 3em;
}

.inputText {

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: var(--radio);

    margin-right: 5%;
    width: 50em;
    height: 2.5em;
}

select{

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: var(--radio);

    width: 50em;
    height: 2.5em;
}

.plus {
    
    background: #E5E5E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #000000;
    
    font-family: Abel;
    font-style: normal;
    font-weight: normal;

    font-size: 1em;

    height: 2em;
    width: 2em;
    margin-left: 2em;
}

textarea {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: var(--radio);
    
    font-family: Abel;
    font-style: normal;
    font-weight: normal;

    font-size: 1em;
    height: 5em;
}

.lbTexttarea {
    text-align:initial
}

.lbRadio {
    padding-top: 1em;
}

.back-ligthblue{
    background-color: #A5DEF9;
}

.color-red{
    color: 'red'
}

.title{
    text-align: center;
    font-size: 3em;
}