form {
    display: flex;
    flex-direction: column;
}

.formRow {
    display: flex;
    margin: 0.5em 0;
    max-width: 80em;
}

.form-control-label {
    overflow: hidden;
}

.form-radio-group {
    padding-left: 1.25em;
}

.form-radio {
    margin-right: 5em;
}

d-flex {
    display: flex;
}

@media (min-width: 768px) {
    .form-control-label {
        width: 30%;
        overflow: hidden;
        padding-right: 1em;
    }
    .form-control-input {
        padding-left: 1em;
        width: 70%;
    }
    .form-control-label, .form-radio-group {
        padding-top: .375rem;
    }
}

@media (max-width: 768px) {
    .formRow {
        flex-direction: column;
    }
    .form-radio-group {
        flex-direction: column;
    }
}